@font-face {
  font-family: 'DIGITAL';
  src: url('https://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}

html {
  height: 100%;
  background: radial-gradient(#000, #555);
}

.digital-clock {
  margin: auto;
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 60px;
  color: #ffffff;
  border: 2px solid #999;
  border-radius: 4px;
  text-align: center;
  font: 50px/60px 'DIGITAL', Helvetica;
  background: linear-gradient(90deg, #000, #555);
}
.pannel-ac{
	
	height: 80px;
	width: 220px;
}
#heading{
	
	font-family: 'Libre Barcode 39 Text';
	font-size: 80px;
}

#row-info{
	
}

.btn-row{
	background-color: #212121;
	margin-top: 100px;
	border-radius: 20px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;

}
#chart1-row{
	background-color: #aaa;
}

.chart-con{
  height: auto; width: 900px; margin-top: 30px; margin-bottom: 30px;
}

.content-row{
  margin-top: 50px;
}

#row-chart{
  background-color: #212121;
  opacity: .7;
}

#footer{
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 80px;
  
}